<html>

<head>
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background: #1c1c1c;
                color: #fff;
            }
            a {
                color: #17a2b8;
            }
        }
        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }
        .intro {
            text-align: center;
        }
        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .license-used-by {
            margin-top: -10px;
        }
        .license-text {
            max-height: 200px;
            overflow-y: scroll;
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="intro">
            <h2>Third Party Licenses</h2>
            <p>Developing the TACO toolsuite would not be possible without the amazing open-source community. This page lists all of TACO's dependencies and their respective licenses.</p>
        </div>
    
        <h3>Overview of licenses</h3>
        <ul class="licenses-overview">
            {{#each overview}}
            <li><a href="#{{id}}">{{name}}</a> ({{count}})</li>
            {{/each}}
        </ul>

        <h3>Individual license texts</h3>
        <ul class="licenses-list">
            {{#each licenses}}
            <li class="license">
                <h4 id="{{id}}">{{name}}</h4>
                <h5>Used by:</h5>
                <ul class="license-used-by">
                    {{#each used_by}}
                    <li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
                    {{/each}}
                </ul>
                <pre class="license-text">{{text}}</pre>
            </li>
            {{/each}}
        </ul>
    </main>
</body>

</html>
 